<div class="row">
    <div class="col-lg-12">
        <h4>Upload Asset <small>(Files Upload widget helps to upload member, spouse, dependent and form images)</small></h4>
        <blockquote>
            <p>
                <span class="glyphicon glyphicon-camera btn btn-success btn btn-success btn-file">
                    <span>Click 'n' Select</span>
                    <input id="fileupload" type="file" name="files[]" multiple max="5" defaultValue="">
                </span>
                <button type="button" id="btnUpload" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
            </p>
        </blockquote>
        <span class="fileupload-process"></span>
        <br>
        @*<div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>*@
        <div class="progress hidden">
            <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-success progress-bar-striped active">
                <span class="sr-only">0% Complete</span>
            </div>
        </div>
        <br>
        <div class="row" id="img-preview">
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>The maximum file size for image is <strong>999 KB</strong></li>
                    <li>Better storage utilization, please <strong>optimize images</strong> before upload.</li>
                    <li>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed for upload.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
