<div class="row">
    <div class="col-lg-12">
        <h2 class="lead">Upload Asset </h2>
        <blockquote>
            <p>
                Files Upload widget helps to upload member, spouse, dependent and form images, that supports standard HTML form file uploads.
            </p>
        </blockquote>
        <br>
        <!-- The fileinput-button span is used to style the file input field as button -->
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <span class="btn btn-success fileinput-button">
            <input id="fileupload" type="file" name="files[]" multiple max="5" defaultValue="">
        </span>
        <button type="button" id="btnUpload" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        @*<button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>*@
        @*<input type="checkbox" class="toggle">*@
        <!-- The global file processing state -->
        <span class="fileupload-process"></span>
        <br>
        <br>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="Filelist" class="files"></div>
        <br>
        <div class="row" id="img-preview">
            
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>The maximum file size for uploads in this demo is <strong>999 KB</strong> (default file size is unlimited).</li>
                    <li>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed in this demo (by default there is no file type restriction).</li>
                </ul>
            </div>
        </div>
    </div>
</div>
