.box-one {
    background-color: #880E4F;
    height: 225px;
    width: 100%;
    display: block;
    margin: 5px;
    color: white;
}

.box-two {
    background-color: #0099CC;
    height: 225px;
    width: 100%;
    display: block;
    margin: 5px;
    color: white;
}

.box-three {
    background-color: #EC407A;
    height: 225px;
    width: 100%;
    display: block;
    margin: 5px;
    color: white;
}

.box-four {
    background-color: #3357AF;
    height: 225px;
    width: 100%;
    display: block;
    margin: 5px;
    color: white;
}

.box-five {
    background-color: #FF3547;
    height: 225px;
    width: 100%;
    display: block;
    margin: 5px;
    color: white;
}

.box-six {
    background-color: #00BCD4;
    height: 225px;
    width: 100%;
    display: block;
    margin: 5px;
    color: white;
}

.image-thumb {
    width: 50px;
    height: 50px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        font-family:inherit;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.img-zone {
    background-color: #F2FFF9;
    border: 5px dashed #4cae4c;
    border-radius: 5px;
    padding: 20px;
}

    .img-zone h2 {
        margin-top: 0;
    }

.progress, #img-preview {
    margin-top: 15px;
}
