@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <h4>
            Manage your account
            <small>(Change your account settings)</small>
        </h4> <hr />
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
