@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav">
    @*<li><a asp-area="" asp-controller="Location" asp-action="Index">Location</a></li>
        <li><a asp-area="" asp-controller="Member" asp-action="Registration">Registration</a></li>
        <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>*@

    <li class="dropdown">
        <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-education white"></i><br />Membership<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Member" asp-action="AddMember">Registration</a></li>
            <li><a asp-area="" asp-controller="Member" asp-action="Index">Members List</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-education white"></i><br />Lookups<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Location" asp-action="Index">Location</a></li>
            <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
            <li><a asp-area="" asp-controller="Referrer" asp-action="Index">Referrer</a></li>
            <li><a asp-area="" asp-controller="Fee" asp-action="Index">Membership fee</a></li>
            <li><a asp-area="" asp-controller="Category" asp-action="Index">Categories</a></li>
            <li><a asp-area="" asp-controller="Mode" asp-action="Index">Payment modes</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-list white"></i><br />Reports<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Member" asp-action="Index">Member</a></li>
            <li><a asp-area="" asp-controller="Member" asp-action="Index">Payments</a></li>
            <li><a asp-area="" asp-controller="Member" asp-action="Index">Cheque</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-export white"></i><br />Export<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Forms" asp-action="Index">Forms into new system</a></li>
        </ul>
    </li>

</ul>
}
else
{
}
